.componentToRenderContainer {
    margin-left: 25%;
    margin-top: 140px;
    width: 300px;
    
}

.youPickedContainer {
    text-align: center;
    margin-right: 160px;
    margin-top: 20px;
    color: white;
    font-family: "semiBold"; 
    letter-spacing: 2px;
    
  }
  
  .winMe {
    height: 450px;
    width: 450px;
    position: absolute;
    margin-left: -165px;
    border-radius: 100%;
    margin-top: -281px;
    background: radial-gradient(
      circle at center,
      transparent 18%,
      rgba(154, 157, 246, 0.316) 10%,
      transparent 20.5%,
      rgba(180, 182, 235, 0.303) 20%,
      transparent 20.5%,
      rgba(123, 127, 238, 0.193) 30%,
      transparent 20.5%,
      rgba(102, 106, 219, 0.181) 40%,
      transparent 20.5%,
      rgba(102, 106, 219, 0.04) 50%,
      transparent 20.5%,
      transparent 80%
    );
  }

  .cpuComponentToRenderContainer {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    margin-left: 65%;
    margin-top: -165px;
    background-color: hsl(214, 60%, 14%);
    
  }

  .theHousePickedContainer {
    text-align: center;
    margin-top: 20px;
    color: white;
    margin-right: 50px;
    font-family: "semiBold"; 
    letter-spacing: 2px;
    position: absolute;

  }

  .resultContainer {
    justify-content: center;
    margin-left: 40%;
    margin-top: 150px;
  }

  .resultMessageContainer {
    color: white;
    font-family: bold;
    font-size: 60px;
    
  }

  .playAgainContainer {
    color: hsl(229, 25%, 31%);
    padding: 15px;
    width: 200px;
    text-align: center;
    margin-right: 50px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    font-family: "bold";  
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 0.3s; 
  }

  .playAgainContainer:hover {
    color: red;
  }

  .rulesContainer {
    color: white;
    border: 1px solid;
    width: 100px;
    padding: 12px;
    text-align: center;
    border-radius: 10px;
    font-family: "semiBold";
    letter-spacing: 3px;
    margin-left: 45%;
    position: relative;
    bottom: 0;
    margin-top: 80px;
    cursor: pointer;
  }

    @media (min-width: 1300px) {
      .youPickedContainer {
          text-align: center;
          margin-top: -300px;
          margin-left: 70px;
          color: white;
          font-family: "semiBold"; 
          letter-spacing: 2px;
          position: absolute;
      }
  
      .theHousePickedContainer{
        text-align: center;
        margin-top: -300px;
        margin-left: 50px;
        color: white;
        font-family: "semiBold"; 
        letter-spacing: 2px;
        position: absolute;
      }
  
      .cpuComponentToRenderContainer {
        margin-top: -235px;
        margin-left: 65%;
        width: 220px;
        height: 220px;
        border-radius: 120px;
      }
      .rulesContainer {
        position: absolute;
        right: 0px;
        bottom: 0px;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .resultContainer {
      justify-content: center;
      margin-left: 45%;
      margin-top: -220px;
    }
  
    .winMe {
      height: 760px;
      width: 650px;
      position: absolute;
      margin-left: -205px;
      border-radius: 100%;
      margin-top: -495px;
      background: radial-gradient(
        circle at center,
        transparent 25%,
        rgba(154, 157, 246, 0.316) 10%,
        transparent 20.5%,
        rgba(180, 182, 235, 0.303) 20%,
        transparent 20.5%,
        rgba(123, 127, 238, 0.193) 30%,
        transparent 20.5%,
        rgba(102, 106, 219, 0.181) 40%,
        transparent 20.5%,
        rgba(102, 106, 219, 0.04) 50%,
        transparent 20.5%,
        transparent 80%
      );
    }
  }

    @media (max-width: 389px) {
      .resultContainer {
        justify-content: center;
        margin-top: 150px;
      }
      .resultMessageContainer {
        font-family: bold;
        font-size: 60px;
      }
      .playAgainContainer {
        margin-left: -50px;
      }

      .theHousePickedContainer {
        width:200px;
      }

      .cpuComponentToRenderContainer {
        margin-top: -155px;
        margin-right: 50px;
      }
    }